# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/frontend/node_modules
npm-debug.log
yarn-error.log
/backend/node_modules

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
/frontend/.vscode/*
/frontend/.vscode/settings.json
/frontend/.vscode/tasks.json
/frontend/.vscode/launch.json
/frontend/.vscode/extensions.json
/frontend/.history/*
.vscode/*
# Miscellaneous
/frontend/.angular/cache
/frontend/.sass-cache/
/frontend/connect.lock
/frontend/coverage
/frontend/libpeerconnection.log
testem.log
/frontend/typings
__screenshots__/
/backend/.env

# System files
.DS_Store
Thumbs.db


.nx/installation
.nx/cache
.nx/workspace-data