@keyframes fade-in {
  from { opacity: 0; transform: scale(.98); }
  to   { opacity: 1; transform: scale(1); }
}

.animate-fade-in {
  animation: fade-in 250ms ease-out;
}

.mat-mdc-form-field {
  height: auto !important;
  width: auto !important;
}

.mat-mdc-form-field {
  margin: 0;
}

.mdc-text-field__input {
  width: 86%;
}

.month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.month-picker .mat-calendar-arrow {
  display: none;
}
