<div class="p-6 fade-in max-w-5xl mx-auto">
  <mat-card class="shadow-xl rounded-2xl">
    <mat-card-header>
      <mat-card-title class="text-xl font-semibold mb-4">
        Billing Letter Editor
      </mat-card-title>
    </mat-card-header>


    <mat-card-content>
      <div>
        <h2 class="text-md">Choose your template:</h2>
        <br>
        <div class="grid grid-cols-2 gap-3 mt-4">
          @for (t of templates(); track t.id) {
            <button mat-raised-button color="primary" (click)="selectTemplate(t)">
              {{ t.name }}
            </button>
          }
        </div>

      </div>

      @if (isBlankSelected()) {
        <div class="mt-4">
          <h2 class="text-md">Generate Billing Letter File:</h2>
          <br>
          <button mat-raised-button class="mb-6" (click)="createBlank()" [disabled]="isGenerating()">Create Billing Letter</button>
        </div>
      }

      <!-- TEMPLATED BILLING STARTS HERE -->
      @if (step() === 2) {
        <h3 class="mt-4">Enter Billing Information</h3>

        <form [formGroup]="form" class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
          @for (field of formConfig(); track field.key) {
            <mat-form-field
              class="w-full"
              [class.col-span-2]="field.colSpan === 2">
              <mat-label>{{field.label}}</mat-label>

              @switch (field.type) {
                @case ('text') {
                  <input matInput [formControlName]="field.key">
                }

                @case ('textarea') {
                  <textarea
                    matInput
                    rows="3"
                    [formControlName]="field.key"></textarea>
                }

                @case ('number') {
                  <input
                    type="number"
                    matInput
                    (keypress)="decimalFilter($event)"
                    [formControlName]="field.key">
                }

                @case ('date') {
                  <ng-container>
                    <input
                      matInput
                      [matDatepicker]="dp"
                      matIconSuffix
                      [formControlName]="field.key">
                    <mat-datepicker-toggle [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp></mat-datepicker>
                  </ng-container>
                }
              }

              @if(form.get(field.key)?.invalid && form.get(field.key)?.touched) {
                <mat-error>{{field.label}} is required</mat-error>
              }

            </mat-form-field>
          }
        </form>

        <div class="flex justify-end gap-3 mt-6">
          <button mat-stroked-button (click)="step.set(1)">Back</button>

          <button mat-raised-button color="primary"
            (click)="createBillingLetter()"
            [disabled]="form.invalid || isGenerating()">
              @if (isGenerating()) {
                <mat-progress-spinner
                  diameter="20"
                  mode="indeterminate">
                </mat-progress-spinner>
              }
              @else {
                Generate Document
              }

          </button>
        </div>
      }
      <!-- TEMPLATED BILLING ENDS HERE -->
    </mat-card-content>
  </mat-card>
</div>
