<div class="p-6 fade-in max-w-5xl mx-auto">
  <mat-card class="shadow-xl rounded-2xl">
    <mat-card-header>
      <mat-card-title class="text-xl font-semibold mb-4">
        <h1>Billing Letter Editor</h1>
      </mat-card-title>
    </mat-card-header>


    <mat-card-content>
      <div class="mt-4">
        <h2 class="text-md">Choose your template:</h2>
        <br>
        @for (t of templates(); track t.id) {
          <button mat-raised-button class="mb-6" (click)="selectedTemplate.set(t.id)">
            {{ t.name }}
          </button>
        }
      </div>

      <div class="mt-4">
        @if (selectedTemplate()) {
          <h2 class="text-md">Generate Billing Letter File:</h2>
          <br>
          <button mat-raised-button class="mb-6" (click)="createBillingLetter()">Create Billing Letter</button>
        }
      </div>
    </mat-card-content>
  </mat-card>
</div>
