<div class="!max-w-screen-2xl">
  <h2 mat-dialog-title class="!max-w-screen-2xl">Add</h2>
  <mat-dialog-content>
    <mat-accordion multi>
      <form [formGroup]="addEmpForm">
        <!-- BASIC INFORMATION STARTS HERE -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Basic Information</mat-panel-title>
          </mat-expansion-panel-header>

          <div class="grid grid-cols-1 gap-2 mt-4">
            <mat-form-field class="w-full mb-4">
              <mat-label>Employee ID</mat-label>
              <input matInput type="text" formControlName="empId">
              @if(addEmpForm.get('empId')?.hasError('required')) {
                <mat-error>Required Field</mat-error>
              }
            </mat-form-field>
          </div>

          <div class="grid grid-cols-4 gap-2">
            <mat-form-field class="w-full mb-4">
              <mat-label>First Name</mat-label>
              <input matInput type="text" formControlName="firstName">
              @if(addEmpForm.get('firstName')?.hasError('required')) {
                <mat-error>Required Field</mat-error>
              }
            </mat-form-field>

            <mat-form-field class="w-full mb-4">
              <mat-label>Middle Name</mat-label>
              <input matInput type="text" formControlName="middleName">
            </mat-form-field>

            <mat-form-field class="w-full mb-4">
              <mat-label>Surname</mat-label>
              <input matInput type="text" formControlName="lastName">
              @if(addEmpForm.get('lastName')?.hasError('required')) {
                <mat-error>Required Field</mat-error>
              }
            </mat-form-field>

            <mat-form-field class="w-full mb-4">
              <mat-label>Suffix</mat-label>
              <input matInput type="text" formControlName="suffix">
            </mat-form-field>
          </div>

          <div class="grid grid-cols-4 gap-2">
            <mat-form-field class="w-full mb-4">
              <mat-label>Gender</mat-label>
              <mat-select [value]="addEmpForm.get('gender')?.getRawValue()" formControlName='gender'>
                @for (option of genderOptions; track option) {
                  <mat-option [value]="option.value">{{ option.viewValue }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field class="w-full mb-4">
              <mat-label>Date of Birth</mat-label>
              <input matInput [matDatepicker]="datepicker" formControlName="dateOfBirth">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
              <mat-datepicker #datepicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="w-full mb-4">
              <mat-label>Education</mat-label>
              <input matInput type="text" formControlName="education">
            </mat-form-field>

            <mat-form-field class="w-full mb-4">
              <mat-label>Civil Status</mat-label>
              <input matInput type="text" formControlName="civilStatus">
            </mat-form-field>
          </div>

          <mat-divider></mat-divider>
          <br>

          <div class="grid grid-cols-4 gap-2">
            <mat-form-field class="w-full mb-4">
              <mat-label>Email</mat-label>
              <input matInput type="text" formControlName="email1">

              @if(addEmpForm.get('email1')?.hasError('email')) {
                <mat-error>
                  Input must be an email
                </mat-error>
              }

            </mat-form-field>

            <mat-form-field class="w-full mb-4">
              <mat-label>Alternate Email</mat-label>
              <input matInput type="text" formControlName="email2">

              @if(addEmpForm.get('email2')?.hasError('email')) {
                <mat-error>
                  Input must be an email
                </mat-error>
              }

            </mat-form-field>

            <mat-form-field class="w-full mb-4">
              <mat-label>Contact Number</mat-label>
              <input matInput type="text" formControlName="mobileNum1">
            </mat-form-field>

            <mat-form-field class="w-full mb-4">
              <mat-label>Alternate Contact Number</mat-label>
              <input matInput type="text" formControlName="mobileNum2">
            </mat-form-field>
          </div>

        </mat-expansion-panel>
        <!-- BASIC INFORMATION ENDS HERE -->

        <!-- EMPLOYMENT INFORMATION STARTS HERE -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Employment Information</mat-panel-title>
          </mat-expansion-panel-header>

          <!-- UI FOR USERS STARTS HERE -->
          <div class="grid grid-cols-3 gap-2">
            @if(authService.getToken('userType') == 'User') {
              <mat-form-field class="w-full mb-4">
                <mat-label>Client</mat-label>
                <input matInput type="text" formControlName="clientId" readonly>
              </mat-form-field>
            }
            @else {
              <mat-form-field class="w-full mb-4">
                <mat-label>Client</mat-label>
                <mat-select [value]="addEmpForm.get('clientId')?.value" formControlName='clientId' (selectionChange)="onClientChange(addEmpForm.get('clientId')?.value)">
                  @for (option of clientOptions; track option) {
                    <mat-option [value]="option.id">{{ option.clientName }}</mat-option>
                  }
                </mat-select>

                @if(addEmpForm.get('classId')?.hasError('required')) {
                  <mat-error>Required Field</mat-error>
                }
              </mat-form-field>
            }
            <mat-form-field class="w-full mb-4">
              <mat-label>Classification</mat-label>
              <mat-select [value]="addEmpForm.get('classId')?.value" formControlName='classId' (selectionChange)="onClassChange()">
                @for (option of classificationOptions; track option) {
                  <mat-option [value]="option.id">{{ option.className }}</mat-option>
                }
              </mat-select>

              @if(addEmpForm.get('classId')?.hasError('required')) {
                <mat-error>Required Field</mat-error>
              }
            </mat-form-field>

            <mat-form-field class="w-full mb-4">
              <mat-label>Department</mat-label>
              <mat-select [value]="addEmpForm.get('deptId')?.value" formControlName='deptId' (selectionChange)="onDeptChange(addEmpForm.get('deptId')?.value)">
                @for (option of deptOptions; track option) {
                  <mat-option [value]="option.id">{{ option.deptName }}</mat-option>
                }
              </mat-select>

              @if(addEmpForm.get('deptId')?.hasError('required')) {
                <mat-error>Required Field</mat-error>
              }
            </mat-form-field>
          </div>

          <div class="grid grid-cols-4 gap-2">
            <mat-form-field class="w-full mb-4">
              <mat-label>Location</mat-label>
              <mat-select [value]="addEmpForm.get('locId')?.value" formControlName='locId' (selectionChange)="onLocChange()">
                @for (option of locOptions; track option) {
                  <mat-option [value]="option.id">{{ option.locName }}</mat-option>
                }
              </mat-select>

              @if(addEmpForm.get('locId')?.hasError('required')) {
                <mat-error>Required Field</mat-error>
              }
            </mat-form-field>

            <mat-form-field class="w-full mb-4">
              <mat-label>Position</mat-label>
              <mat-select [value]="addEmpForm.get('posId')?.value" formControlName='posId' (selectionChange)="onPosChange()">
                @for (option of posOptions; track option) {
                  <mat-option [value]="option.id">{{ option.posName }}</mat-option>
                }
              </mat-select>

              @if(addEmpForm.get('posId')?.hasError('required')) {
                <mat-error>Required Field</mat-error>
              }
            </mat-form-field>

            <mat-form-field class="w-full mb-4">
              <mat-label>Employment Status</mat-label>
              <mat-select [value]="addEmpForm.get('empStatusId')?.value" formControlName='empStatusId' (selectionChange)="onEmpStatusChange()">
                @for (option of empStatusOptions; track option) {
                  <mat-option [value]="option.id">{{ option.empStatusName }}</mat-option>
                }
              </mat-select>

              @if(addEmpForm.get('empStatusId')?.hasError('required')) {
                <mat-error>Required Field</mat-error>
              }
            </mat-form-field>

            <mat-form-field class="w-full mb-4">
              <mat-label>Wage</mat-label>
              <mat-select [value]="addEmpForm.get('wageId')?.value" formControlName='wageId'>
                @for (option of wageOptions; track option) {
                  <mat-option [value]="option.id">{{ option.wageName }}</mat-option>
                }
              </mat-select>

              @if(addEmpForm.get('wageId')?.hasError('required')) {
                <mat-error>Required Field</mat-error>
              }
            </mat-form-field>
          </div>

          <div class="grid grid-cols-1">
            <mat-form-field class="w-full mb-4">
              <mat-label>Remarks</mat-label>
              <input matInput type="text" formControlName="remarks">
            </mat-form-field>
          </div>

        </mat-expansion-panel>
        <!-- FORMER EMPLOYMENT INFORMATION STARTS HERE -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Former Employment Information</mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field class="w-full mb-4">
            <mat-label>Former Employee of LBRDC</mat-label>
            <mat-select #isFormerEmp (selectionChange)="onFormerEmpChange(isFormerEmp.value)">
              @for (option of isFormerEmpChoices; track option) {
                <mat-option [value]="option.value">{{ option.viewValue }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <div class="grid grid-cols-4 gap-2">
            <mat-form-field class="w-full mb-4">
              <mat-label>Position</mat-label>
              <input matInput type="text" formControlName="formerPos">
            </mat-form-field>

            <mat-form-field class="w-full mb-4">
              <mat-label>Other Information</mat-label>
              <input matInput type="text" formControlName="otherInfo">
            </mat-form-field>

            <mat-form-field class="w-full mb-4">
              <mat-label>Date Started</mat-label>
              <input matInput [matDatepicker]="datepicker1" formControlName="dateStarted">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="datepicker1"></mat-datepicker-toggle>
              <mat-datepicker #datepicker1></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="w-full mb-4">
              <mat-label>Date Ended</mat-label>
              <input matInput [matDatepicker]="datepicker2" formControlName="dateEnded">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="datepicker2"></mat-datepicker-toggle>
              <mat-datepicker #datepicker2></mat-datepicker>
            </mat-form-field>
          </div>

        </mat-expansion-panel>
      </form>
    </mat-accordion>

    <div class="mt-6">
      <button mat-raised-button mat-dialog-close color="primary" type="submit" class="w-full py-2"
        [disabled]="((addEmpForm.invalid || addEmpForm.get('wageId')?.value == 0) || isFormerEmp.value == 'yes') &&
                    (addEmpForm.get('formerPos')?.value == '' || addEmpForm.get('dateStarted')?.value == '' || addEmpForm.get('dateEnded')?.value == '')
                    " (click)="onAddEmp(addEmpForm)">
          Add Client
      </button>


      <button mat-raised-button mat-dialog-close color="primary" class="w-full py-2 mt-3">
        Cancel
      </button>
    </div>
  </mat-dialog-content>
</div>

