<h2 mat-dialog-title>Add</h2>
<mat-dialog-content>
  <form [formGroup]="addClientForm">
    <mat-form-field class="w-full mb-4">
      <mat-label>Client Code</mat-label>
      <input matInput type="text" formControlName="clientCode">
      @if(addClientForm.get('clientCode')?.hasError('required')) {
        <mat-error>Required Field</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="w-full mb-4">
      <mat-label>Client Name</mat-label>
      <input matInput type="text" formControlName="clientName">
      @if(addClientForm.get('clientName')?.hasError('required')) {
        <mat-error>Required Field</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="w-full mb-4">
      <mat-label>Pay Frequency</mat-label>
      <mat-select [value]="addClientForm.get('payFreqId')?.getRawValue()" formControlName='payFreqId' multiple>
        @for (option of payFreqOptions; track option) {
          <mat-option [value]="option.value">{{ option.viewValue }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-full mb-4">
      <mat-label>Description</mat-label>
      <input matInput type="text" formControlName="description">
    </mat-form-field>

    <mat-form-field class="w-full mb-4">
      <mat-label>Status</mat-label>
      <mat-select [value]="addClientForm.get('status')?.getRawValue()" formControlName='status'>
        @for (option of statusOptions; track option) {
          <mat-option [value]="option.value">{{ option.viewValue }}</mat-option>
        }
      </mat-select>

      @if(addClientForm.get('status')?.hasError('required')) {
        <mat-error>Required Field</mat-error>
      }

    </mat-form-field>

    <div class="mt-6">
      <button mat-raised-button mat-dialog-close color="primary" type="submit" class="w-full py-2" [disabled]="addClientForm.invalid" (click)="onAddClient(addClientForm)">
        Add Client
      </button>

      <button mat-raised-button mat-dialog-close color="primary" class="w-full py-2 mt-3">
        Cancel
      </button>
    </div>
  </form>
</mat-dialog-content>
