<div class="min-h-screen flex flex-col items-center justify-center bg-gray-100">
  <mat-card class="shadow-lg w-full max-w-3xl p-6">
    <mat-card-header class="text-2xl font-semibold text-center text-gray-700 mb-6">
      <mat-card-title>
        Accounts
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field appearance="fill" class="w-full mb-4">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search a user" autocomplete="off" #input>
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" >
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef>Username</th>
          <td mat-cell *matCellDef="let user"> {{user.username}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let user"> {{user.email}} </td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef>User Type</th>
          <td mat-cell *matCellDef="let user"> {{user.role}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let user">
            <div class="flex justify-end gap-0.5">
              <button mat-icon-button matTooltip="View User" (click)='openViewUserDialog(user._id)'><mat-icon>visibility</mat-icon></button>
              <button mat-icon-button matTooltip="Edit Details" (click)='openUpdateUserDialog(user._id)'><mat-icon>edit</mat-icon></button>
              <button mat-icon-button matTooltip="Delete User" (click)='delUser(user._id)' class="hover:!text-red-600"
                [disabled]="(user.username == userService.user()?.username)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let userRow; columns: columns"></tr>

        <tr mat-row *matNoDataRow>
          <td>No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5,10,15]"></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
