<mat-card class="p-4 sm:p-6 card-animate max-w-full sm:max-w-3xl mx-auto">
  <h2 class="text-2xl font-semibold mb-4">Generate {{code().toUpperCase()}} Billing</h2>

  <div class="flex flex-col sm:flex-row gap-4 mb-6">
    <div class="flex flex-col w-full sm:w-auto">
      <input type="file" #fileInput accept=".pdf, .docx" hidden (change)="selectBillingLetter($event)" />
      <button mat-raised-button (click)="fileInput.click()" class="mb-4 w-full sm:w-auto">Upload Billing Letter</button>
      <span>{{ billingLetter()?.name }}</span>
    </div>

    <div class="flex flex-col w-full sm:w-auto">
      <input type="file" #fileInput1 multiple accept=".pdf, .docx" hidden (change)="selectAttachments($event)" />
      <button mat-raised-button (click)="fileInput1.click()" class="mb-4 w-full sm:w-auto">Upload Supporting Files</button>
      @for (file of attachments(); track file) {
        <span>{{ file.name }}</span>
      }
    </div>

  </div>

  @if (loading()) {
    <div class="text-center py-10">
      <mat-spinner></mat-spinner>
    </div>
  }
  @else {
    @if (isPreviewClicked()) {
      <div class="mt-8 space-y-6 fade-in">
        <h3 class="text-xl font-semibold">Preview (Order Included)</h3>
        @for (p of previews(); track p.public_id) {
          <h4 class="font-medium mb-2">{{ p.label }}</h4>
          <iframe [src]="p.safeUrl" title="test" [attr.aria-label]="p.label" class="w-full h-64 sm:h-96 border rounded"></iframe>
        }
      </div>
    }
  }

  <div class="flex flex-col sm:flex-row gap-3 mt-4">
    <button mat-raised-button color="primary"
            class="motion-smooth w-full sm:w-auto"
            [disabled]="loading()"
            (click)="preview()">
      Preview Files
    </button>

    <button mat-raised-button color="primary"
            class="motion-smooth w-full sm:w-auto"
            [disabled]="loading()"
            (click)="generate()">
      Generate PDF
    </button>
  </div>

  <div class="flex flex-col sm:flex-row justify-evenly gap-3 mt-4">
    @if(downloadUrl()) {
      <button
        mat-raised-button
        (click)="downloadFinalPdf()"
        class="motion-smooth w-full sm:w-auto">
        Download PDF File
      </button>
    }

    <button class="w-full sm:w-auto" mat-stroked-button (click)="router.navigate(['/dashboard'])">Back to Dashboard</button>
  </div>

</mat-card>
