<h2 mat-dialog-title>Add</h2>
<mat-dialog-content>
  <form [formGroup]="addClassForm">
    <mat-form-field class="w-full mb-4">
      <mat-label>Client</mat-label>
      <mat-select [value]="addClassForm.get('clientId')?.getRawValue()" formControlName='clientId'>
        @for (option of clientOptions; track option) {
          <mat-option [value]="option.value">{{ option.viewValue }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-full mb-4">
      <mat-label>Classification Name</mat-label>
      <input matInput type="text" formControlName="className">
      @if(addClassForm.get('className')?.hasError('required')) {
        <mat-error>Required Field</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="w-full mb-4">
      <mat-label>Status</mat-label>
      <mat-select [value]="addClassForm.get('status')?.getRawValue()" formControlName='status'>
        @for (option of statusOptions; track option) {
          <mat-option [value]="option.value">{{ option.viewValue }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-full mb-4">
      <mat-label>Description</mat-label>
      <input matInput type="text" formControlName="description">
    </mat-form-field>

    <div class="mt-6">
      <button mat-raised-button mat-dialog-close color="primary" type="submit" class="w-full py-2" [disabled]="addClassForm.invalid" (click)="onAddClass(addClassForm)">
        Add Classification
      </button>

      <button mat-raised-button mat-dialog-close color="primary" class="w-full py-2 mt-3">
        Cancel
      </button>
    </div>
  </form>
</mat-dialog-content>
